:root {
  --arrow-rotation: 0deg;
}


#game-container {
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  border: 2px solid black;
  width:500px;
  height: 500px;
}

 #arrow {
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: rotate(var(--arrow-rotation)) translateY(-60px);
   position: absolute;
   border: 2px solid black;

 }

.arrow-part {
  background-color: black;
}

#arrow-tip {
  width: 20px;
  height: 20px;
  clip-path: polygon(0 100%, 100% 100%, 50% 0, 0 100%);
}

#arrow-length {
  width: 10px;
  height: 100px;
}

